/* You can add global styles to this file, and also import other style files */
body {
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  color: #222;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 16px;
}

input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
h2 {
  color: #007acc;
}